body {
    background-color: #F2F2F2;
}

.btn {
    position: absolute;
    width: 314px;
    height: 50px;
    left: 30px;
    top: 725px;

    background: #2B354F;
    border-radius: 30px;

    font-style: normal;
    font-weight: 600;
    font-size: 17px;

    text-align: center;

    color: #F6F6F9;
}

.swipe {
    position: absolute;
    width: 149px;
    height: 20px;
    left: 113px;
    top: 159px;
}

.background {
    position: absolute;
    width: 350px;
    left: 10px;
    top: 164px;
}

.gambar {
    position: absolute;
    width: 120.21px;
    height: 120.21px;
    left: 29px;
    top: 181px;

    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.07));
}


h3 {
    position: absolute;
    width: 94px;
    height: 40px;
    left: 141px;
    top: 64px;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}

h2 {
    position: absolute;
    width: 205px;
    height: 19px;
    left: 89px;
    top: 217px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 101.34%;

    /* or 16px */
    text-align: center;

    color: #000000;
}

h1 {
    position: absolute;
    width: 81px;
    height: 12px;
    left: 133px;
    top: 245px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 101.34%;

    /* or 12px */
    text-align: center;

    color: #AD8460;
}

.ordersbgr {
    position: absolute;
    width: 375px;
    height: 238px;
    left: 8px;
    top: 94px;
}

.gambar2 {
    position: absolute;
    width: 168.57px;
    height: 163.35px;
    left: 22.43px;
    top: 128.65px;

    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.07));
}