body {
    background-color: #F2F2F2;
}

h3 {
    position: absolute;
    width: 94px;
    height: 40px;
    left: 141px;
    top: 64px;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}

img {
    position: absolute;
    left: 37.14%;
    right: 37.14%;
    top: 32.46%;
}

h1 {
    position: absolute;
    width: 193px;
    height: 33px;
    left: 91px;
    top: 400px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    text-align: center;

    color: #000000;

}

h2 {
    position: absolute;
    width: 220px;
    height: 40px;
    left: 77px;
    top: 450px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;

    color: #000000;

    opacity: 0.57;
}

.btn {
    position: absolute;
    width: 314px;
    height: 50px;
    left: 30px;
    top: 700px;

    background: #2B354F;
    border-radius: 30px;

    font-style: normal;
    font-weight: 600;
    font-size: 17px;

    text-align: center;

    color: #F6F6F9;
}
